/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');

html {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Noto Kufi Arabic", sans-serif;
    background-color: #E4E3D8; /* Beige background */
    color: #6B6347;
    margin: 0;
    padding: 0;
}

/* Header Styles */

#header {
    transition: height 0.3s ease; /* Add transition for header height */
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #E4E3D8; /* Header background color */
    z-index: 1000;
}

/* Add margin to the main content to prevent it from being overlapped by the fixed header */
main {
    margin-top: 180px; /* Adjust as needed based on the header height */
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #E4E3D8; /* Header background color */
    border-bottom: 1px solid #d4d3c9; /* Header border */

}
.cart-btn {
    background-color: #6B6347; /* Change this to your desired background color */
    /* Add any other styling for the button here */
    color: #E4E3D8;
}

.cart-btn:hover {
    background-color: #797152; /* Change this to your desired background color */
}


.brand-header {
    font-size: 15px;
}


/* Navigation Styles */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}


nav ul li {
    
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #6B6347;

    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #6b634725;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition */

}

nav ul li a:hover {
    background-color: #6b634741;
}


img {
width: 400px;
margin: 30px;
}


.cover-page {
    text-align: center;
    display: flex;
    justify-content: center;
        margin: auto;
    padding: 0;
    width: 100%; /* Set the width to cover the entire width of the page */
}

.index-about {
    border-bottom: 1px solid #d4d3c9; /* Header border */
    margin: 0 auto; /* Center the div horizontally */
    width: 70%;
}


.learn-more-button {
    color: #6B6347;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 30px;
    text-decoration: none;
    background-color: #6b634727;
    border-radius: 5px;
    border: 0;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.learn-more-button:hover {
    background-color: #6b634741; /* Change background color on hover */
}



.about-section {
    width: 80%;
    margin: 0 auto; /* Center the div horizontally */
}

.ateeq-team {
    display:flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 0 auto; /* Center the div horizontally */
}

.team-list {
    list-style: none;
}


.visual-identity-pic {
    width: 90%;
}


/* Container Styles */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.checkout-btn {
    color: #6B6347;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #6b634727;
    border-radius: 5px;
    border: 0;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.checkout-btn:hover {

    background-color: #6b634741;

}
.go-to-cart {
    background-color: #5046352c;
    width: 80%;
    margin:auto;
}
.go-to-cart-btn {
    text-decoration: none;
padding:20px;
    color: #6B6347;
}

.shop-for-more {
    position: relative;
    display: inline-block;

}
.shop-for-more img {
    display: block;
    width: 80%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
    margin: auto;
    padding: 20px;
}
.shop-for-more-btn {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: #6b5d47;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #f1f1eb;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Smooth transition */
    opacity: 80%;
padding: 40px;
}

.shop-for-more-btn:hover {

    background-color: #504635;

}


/* Product Styles */
.product {
    margin-bottom: 20px;

}

.product img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.product-name {
    font-size: 18px;
    margin-top: 10px;
}

.product-price {
    font-size: 16px;
}

/* Cart Styles */
.cart {
    display: none; /* Hide cart by default */
    position: absolute;
    top: calc(100% + 10px); /* Adjust the distance from the button */
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 999; /* Ensure the cart appears above other content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
}

.show-cart-btn:focus + .cart,
.cart:hover {
    display: block; /* Show cart when button is focused or cart is hovered */
}

.add-to-cart-btn {
    color: #6B6347;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #6b634727;
    border-radius: 5px;
    border: 0;
    transition: background-color 0.3s ease; /* Smooth transition */

}

.add-to-cart-btn:hover {
    background-color: #6b634741;

}

.add-to-cart-btn {
    color: #6B6347;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #6b634727;
    border-radius: 5px;
}

.add-to-cart-btn:hover {
    background-color: #6b634741;

}

.contact-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #d4d3c9; /* Header border */
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #6B6347;
}
.contact-page h2 {
    font-size: 17px;
}
.contact-info h3 {
    font-size: 15px;
    margin: 10px;

}
.contact-info p {
    font-size: 15px;
    margin: 10px;

}




/* Footer Styles */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #E4E3D8;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #d4d3c9; /* Header border */

    border-bottom: 1px solid #d4d3c9; /* Header border */
}


/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
    body {
        width: 100%;
        margin: auto;
        text-align: center;
        overflow-x: hidden;
    }
    main {
        margin-top: 235px; /* Adjust main margin for smaller screens */
    }


      /* Additional adjustments for smaller screens */
      #header {
        height: 80px; /* Decrease header height for better visibility */
    }
    .header {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px; /* Adjust header padding for better spacing */
    }
    nav ul li {
margin-right: 5px; /* Reduce margin between navigation items */
    }
    img {
        width: 150px; /* Reduce image size for better fit */
        margin: 20px; /* Adjust image margin for better spacing */
    }

    .shop-for-more-btn {
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
        background-color: #6b5d47;
        border-radius: 5px;
        text-decoration: none;
        color: #f1f1eb;
        font-weight: bold;
        transition: background-color 0.3s ease; /* Smooth transition */
        opacity: 80%;
    padding: 10px;
    }
    
    .shop-for-more-btn:hover {
    
        background-color: #504635;
    
    }


    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #6B6347;
    }
    .contact-page h2 {
        font-size: 17px;
    }
    .contact-info h3 {
        font-size: 15px;
        margin: 10px;
    
    }
    .contact-info p {
        font-size: 15px;
        margin: 10px;
    
    }
    
    
    
    
    /* Footer Styles */
    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: #E4E3D8;
        padding: 20px;
        text-align: center;
        border-top: 1px solid #d4d3c9; /* Header border */
    
        border-bottom: 1px solid #d4d3c9; /* Header border */
    }
}
